<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>paypal node app</title>
</head>
<body>
    <h1>Boston Red Sox Hat</h1>
    <h2>Buy for $25</h2>
    <form action="/pay" mathod="post">
    <input type="submit" value="Buy">
    </form>
</body>
</html>